<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Flask App</title>
  <!-- change css order -->
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="mainLoader">
  <h3>Your Flask App boilerplate Works</h3>
</div>

<!-- curl -X POST -H 'Content-Type: application/json' -d "[{"image_url":"https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","imgKey":"img11"},{"image_url":"https://images.pexels.com/photos/709552/pexels-photo-709552.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260","imgKey":"img12"}]" -k https://0.0.0.0:8000/applySetting -->

<script src="/static/script.js" ></script>
</body>
</html>
